.lds-dual-ring{
  display: inline-block;
  width: 100px;
  height: 100px;
}

.lds-dual-ring:after{
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #9356DC;
  border-color: #9356DC transparent #9356DC transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.80);
  animation: loader 0.01s;
  animation-delay: 2s;
  z-index: 20000;
  animation-fill-mode: both;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
} 

.banner{
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    position: relative;
  
    &__logo {
      font-family: "Shrikhand", "cursive";
      margin: 0;
      text-align: center;
    }
}

.position{
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: rgb(243, 243, 243);
  font-size: 1.2rem;
  position: relative;

  &__text{
    font-weight: 700;
  }

  &__icon{
    margin-right: 1rem;
  }
}

.discover{ 
    padding: 2rem;
    text-align: center;
    background-color: rgb(250, 250, 250);
  
    &__title{
      margin: 0;
      font-size: 30px;
      margin-bottom: 1rem;
    }

    &__text{
      font-weight: 300;
      margin: 1.5rem 0;
    }

    &__button{
      margin-top: 20px;
      border: 0;
      line-height: 2.5;
      padding: 5px 20px;
      font-size: 1rem;
      text-align: center;
      color: #fff;
      border-radius: 30px;
      background: linear-gradient(to bottom, #D275D5 0%, #975DD5 100%);
    }
}

.container{
    max-width: 1280px;
    margin: auto;
    position: relative;
}

.working{
  padding: 3rem;

  &__title{
    margin-top: 0;
  }

  &__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;

	@media(max-width: 800px){
		display: flex;
		flex-direction: column;
	}
  }

  &__tuto {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    position: relative;

	  @media(min-width: 800.1px){
		  width: 33%;
	  }
  }

  &__tuto:hover{
    background-color: #F4EDFE;
  }

  &__dot{
	background: #e3e3e3;
	border-radius: 50%;
	background-color: #9356DC;
	color: white;
	display: inline-block;
	line-height: 20px;
	margin-right: 5px;
	text-align: center;
	width: 20px;
	position: relative;
	right: 30px;
	font-size: 12px;
}

  &__icon {
    margin-right: 1rem;
    color: #7e7e7e;
  }

  &__icon:hover{
    color: #8B59D5;
  }
}

.restaurant{
    background-color: #f6f6f6;
    padding-bottom: 30px;
    
    a{
      color: black;
      text-decoration: none;
	}

	&__title{
		padding-top: 40px;
	}

	&__card{
		background-color : white;
		border-radius: 15px;
		box-shadow: 0px 26px 58px -22px rgba(0,0,0,0.48);
		margin: 10px;
		overflow: hidden;
		position: relative;
	
		img {
		  height: 150px;
		  object-fit: cover;
		  width: 100%;
		}
	
		&__content {
		  align-items: center;
		  display: flex;
		  flex-wrap: wrap;
		  padding: 5px;
		}
	
		&__description {
		  flex: 1;
		  margin: 5px 0px 5px 20px;
		  width: 150px;
	
		  h4 {
			margin: 0;
		  }
		}
	
		&__name {
		  font-weight: bold;
		}
	}
}

.square{
  	background: #99E2D0;
    position: absolute;
    color: #3B8568;
    top: 1rem;
    right: 0.75rem;
    padding: 0.35rem;
}

.restaurant__cards{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 1000px){
  .restaurant__cards{
      grid-template-columns: repeat(2, 1fr);
  }
}

.footer{
    background-color: #353535;

    .container {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }
    
    &__logo {
      color: white;
      font-family: "Shrikhand", "cursive";
      margin: 0;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      text-decoration: none;
    }
  
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    &__listLink {
      margin: 0.5rem
    }

    &__link {
      color: white;
      text-decoration: none;
    }

    &__icon {
        width: 1.2rem;
        margin-right: 0.5rem;
      }
}

